/*your custom CSS here*/

.heading{
  background-image: url(heading.jpg);
  background-repeat: no-repeat;
  background-size: 800px 750px;
  background-position: 400px;
  height: 400px;
}

body{
  background-color: grey;
}
