/*your custom CSS here*/

.heading{
  background-image: url(../img/heading.jpg);
  background-repeat: no-repeat;
  background-size: 800px 750px;
  background-position: center;
  height: 400px;
  width: 100%;
}

.heading h1{
  color: white;
  text-align: center;
  width: 100%;
  padding-top: 194px;
  
}

body{
  background-color: grey;
}
